<div class="columns">
  <div class="column is-three-quarters">
    <h1 class="title is-6">
      PRZECZYTAJ RÓWNIEŻ
    </h1>
    <ul>
      {% for post in site.posts limit:3 %}
      <li><strong><a href="{{post.url}}">§ {{post.title}}</a></strong> <em>[{{ post.date | date: "%D" }}]</em> </li>
      {% endfor %}
    </ul>
  </div>
  <div class="column is-one-quarter">
    <h1 class="title is-6">
      INSTAGRAM
    </h1>
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/ab962c0d97c05669b10e6a10f2ee97a0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>
</div>
