<footer class="footer">
  <div class="content has-text-centered">

    <img src="/img/logo-green.svg" width="32" height="32" style="opacity:1;">
    <p class="has-text-primary">
      <!--Adwokat--> Edyta Kuś
    </p>
  </div>
</footer>
<!--
<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
-->
