<section class="hero is-primary is-medium has-background {% if page.office %}is-primary{% else %}is-white{% endif %}" style="background-image: url('{{ page.image }}');">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered has-text-white is-size-2">
        {{ page.title }}
      </h1>
      {% if page.date %}
      <h2 class="subtitle has-text-centered has-text-grey">
        {{ page.date | date: "%D" }}
      </h2>
      {% endif %}

      {% if page.subtitle %}
      <h2 class="subtitle has-text-centered has-text-white">
        {{ page.subtitle }}
      </h2>
      {% endif %}

    </div>
  </div>
</section>
