
            <div class="card kartusz">
              <div class="card-image kartusz ribbon">
                <figure class="image">
                  <img class="kartusz wibbon" src="/img/ekus.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Edyta Kuś</p>
                    <p class="subtitle is-6">@adwokat.ek</p>
                  </div>
                </div>

                <div class="content wibbon is-size-6"> Jestem prawniczką i piszę o prawie. Na blogu wyjaśniam, możliwie ludzkim językiem, prawne meandry spraw, które spotykają moich czytelników.


<!--Zajmuję się przede wszystkim szeroko ujętym prawem gospodarczym, cywilnym i autorskim. Pomocy prawnej udzielam przedsiębiorcom i klientom indywidualnym.-->

                  <br>
                </div>
              </div>
            </div>
